<<<<<<< HEAD
/* body {
	background: url(../img/wallhaven-wyojvx.jpg);
	background-size: 100%;
}
 */
.rg_page {
	position: absolute;
	margin-top: 50px;
	margin-left: 350px;
	border: 2px solid #999999;
	width: 850px;
	height: 600px;
	background-color: white;
}

.rg_form_left {
	float: left;
	font-size: 17px;
	color: #ffcd26;
	margin-left: 10px;
	margin-top: 10px;
}

.rg_form_right {
	float: right;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 10px;
}

.rg_from_pad {
	margin-top: 50px;
}

.rg_text_pad {
	font-size: larger;
	font-weight: bold;
	color: #000000;
	margin-top: 20px;
=======
/* body {
	background: url(../img/wallhaven-wyojvx.jpg);
	background-size: 100%;
}
 */
.rg_page {
	position: absolute;
	margin-top: 50px;
	margin-left: 350px;
	border: 2px solid #999999;
	width: 850px;
	height: 600px;
	background-color: white;
}

.rg_form_left {
	float: left;
	font-size: 17px;
	color: #ffcd26;
	margin-left: 10px;
	margin-top: 10px;
}

.rg_form_right {
	float: right;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 10px;
}

.rg_from_pad {
	margin-top: 50px;
}

.rg_text_pad {
	font-size: larger;
	font-weight: bold;
	color: #000000;
	margin-top: 20px;
>>>>>>> 26406d4ad83abacd1d3262a7926608bc6df32f1e
}
